{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <style type="text/css">
    .inline {
      display: inline;
      margin: 10px;
    }
  </style>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body>
  <nav class="head">
    <a href="/sun/"> <span class="bi bi-journal-plus btn btn-warning">Add New Book</span> </a>
    <a href="/"> <span class="bi bi-toggle2-on btn btn-primary"> Available Book</span></a>
    <div class="btn-group">
      <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Price
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/htol">Price high to low</a></li>
        <li><a class="dropdown-item" href="/ltoh">Price low to high</a></li>
      </ul>
    </div>
    <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Sort By
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/NonFiction/">NonFiction</a></li>
      <li><a class="dropdown-item" href="/Fiction/">Fiction</a></li>
      <li><a class="dropdown-item" href="/Reference/">Reference</a></li>
      <li><a class="dropdown-item" href="/Edited/">Edited</a></li>
    </ul>
    <form class="inline" action="/search" method="GET">
      <input type="text" placeholder="Search.." name="query" id="query">
      <a href="/search"><button type="search" value="search"><i class="bi bi-search"></i></button></a>
    </form>
  </nav>
  <table class="table table-success table-striped" style="color:black;">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Bname</th>
        <th scope="col">Bauthor</th>
        <th scope="col">YearofPub</th>
        <th scope="col">Price</th>
        <th scope="col">Page</th>
        <th scope="col">Category</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>

    {% for b in data %}
    <tr>
      <th scope="row">{{b.id}}</th>
      <td>{{b.Bname}}</td>
      <td>{{b.Bauthor}}</td>
      <td>{{b.YearofPub}}</td>
      <td>{{b.Price}}</td>
      <td>{{b.Page}}</td>
      <td>{{b.Category}}</td>
      <td scope="col"> <a class="btn btn-warning" href="/update/{{b.id}}"><i class="bi bi-pencil-fill"></i></a></td>
      <td scope="col"> <a class="btn btn-danger" href="/delete/{{b.id}}"><i class="bi bi-trash3"></i></a> </td>
    </tr>
    {% endfor %}
  </table>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
</body>

</html>